<header>
    <div>
        <div class="Navbar">
            <a routerLink="/products" routerLinkActive="active"><i style="font-size: xxx-large;color: black;" class="fa fa-home"></i></a>
            <a routerLink="/testfile" routerLinkActive="active" style="margin: 5px 0px 0px 30px; border-radius: 5px;text-decoration: none;color: black; ">Learnings</a>
            <!-- <button (click)="gotoHome()" style="height: 20px;margin: 13px 0px 0px 30px; border-radius: 5px;">Integrations</button> -->
            <div class="search">
                <input style="width: 50%;line-height: 25px;margin-top: 9px;" type="text"
                    placeholder="Search.." name="search">
                <button style="line-height: 25px;" type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div style="font-size: xx-large;line-height: 20px;margin-top: 5px;margin-left: 650px;" class="fa fa-shopping-cart">
                <sup><span class="w3-badge w3-green">5</span></sup>
            </div>
        </div>
    </div>
</header>
<!-- <app-products></app-products> -->