<div class="main">
    <div class="item">
        <a>
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <span>All products</span>
        </a>
    </div>
    <div class="item">
        <a>
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
            <span>Electronics</span>
        </a>
    </div>
    <div class="item">
        <a>
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
            <span>Fashion</span>
        </a>
    </div>
    <div class="item">
        <a>
            <img style="width: 50px; margin-top: 8px;"
                src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50"
                alt="">
            <span style="margin-top: 7px;">Jewllery</span>
        </a>
    </div>
</div>
<div>
    <div class="row">
        <ng-container *ngFor="let value of productList">
            <div class="column">
                <div class="card">
                    <div>
                        <img class="imagestyles" src="{{value.image}}" alt="">
                    </div>
                    <div>
                        <div>
                            <button>View</button>
                            <button>Add to Cart</button>
                        </div>
                        <span>{{value.title}}</span><br />
                        <span><b>Price:</b> ${{value.price}}</span><br />
                        <span><b>Type: </b>{{value.category}}</span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>